


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  INSERT INTO public.profiles (id, email, role)
  VALUES (new.id, new.email, 'guest');
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    SET "search_path" TO 'public'
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_updated_at"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reset_all_data"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  -- Truncate tables with Identity Reset
  TRUNCATE TABLE public."Inventory" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."Substance" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."Cabinet" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."EquipmentCabinet" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."HazardList" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."SubstanceRef" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."tools" RESTART IDENTITY CASCADE;
  TRUNCATE TABLE public."experiment_kit" RESTART IDENTITY CASCADE;
  
  -- Add other tables if necessary
  -- TRUNCATE TABLE public."waste_records" RESTART IDENTITY CASCADE;
  -- TRUNCATE TABLE public."usage_logs" RESTART IDENTITY CASCADE;
END;
$$;


ALTER FUNCTION "public"."reset_all_data"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."restore_lab_settings"("payload" "jsonb") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  -- 1. Wipe Tables (Order: Child -> Parent)
  DELETE FROM lab_class_counts;
  DELETE FROM lab_teachers;
  DELETE FROM lab_subjects;
  DELETE FROM lab_clubs;
  -- Deleting Semesters might cascade to the above, but explicit is cleaner.
  DELETE FROM lab_semesters;
  -- Deleting Rooms (CRITICAL: References from Inventory?)
  DELETE FROM lab_rooms;

  -- 2. Restore Tables (Order: Parent -> Child)
  
  -- Restore Lab Rooms
  IF payload ? 'lab_rooms' AND jsonb_array_length(payload->'lab_rooms') > 0 THEN
    INSERT INTO lab_rooms (id, room_name, sort_order)
    SELECT 
      (item->>'id')::bigint,
      item->>'room_name',
      (item->>'sort_order')::int
    FROM jsonb_array_elements(payload->'lab_rooms') AS item;
    
    PERFORM setval('lab_rooms_id_seq', (SELECT MAX(id) FROM lab_rooms));
  END IF;

  -- Restore Semesters
  IF payload ? 'lab_semesters' AND jsonb_array_length(payload->'lab_semesters') > 0 THEN
    INSERT INTO lab_semesters (id, name, start_date, end_date, created_at)
    SELECT 
      (item->>'id')::bigint,
      item->>'name',
      (item->>'start_date')::date,
      (item->>'end_date')::date,
      (item->>'created_at')::timestamptz
    FROM jsonb_array_elements(payload->'lab_semesters') AS item;

    PERFORM setval('lab_semesters_id_seq', (SELECT MAX(id) FROM lab_semesters));
  END IF;

  -- Restore Class Counts
  IF payload ? 'lab_class_counts' AND jsonb_array_length(payload->'lab_class_counts') > 0 THEN
    INSERT INTO lab_class_counts (id, semester_id, grade, class_count)
    SELECT 
      (item->>'id')::bigint,
      (item->>'semester_id')::bigint,
      (item->>'grade')::int,
      (item->>'class_count')::int
    FROM jsonb_array_elements(payload->'lab_class_counts') AS item;
    
    PERFORM setval('lab_class_counts_id_seq', (SELECT MAX(id) FROM lab_class_counts));
  END IF;

  -- Restore Teachers
  IF payload ? 'lab_teachers' AND jsonb_array_length(payload->'lab_teachers') > 0 THEN
    INSERT INTO lab_teachers (id, semester_id, name)
    SELECT 
      (item->>'id')::bigint,
      (item->>'semester_id')::bigint,
      item->>'name'
    FROM jsonb_array_elements(payload->'lab_teachers') AS item;
    
    PERFORM setval('lab_teachers_id_seq', (SELECT MAX(id) FROM lab_teachers));
  END IF;

  -- Restore Subjects
  IF payload ? 'lab_subjects' AND jsonb_array_length(payload->'lab_subjects') > 0 THEN
    INSERT INTO lab_subjects (id, semester_id, name)
    SELECT 
      (item->>'id')::bigint,
      (item->>'semester_id')::bigint,
      item->>'name'
    FROM jsonb_array_elements(payload->'lab_subjects') AS item;
    
    PERFORM setval('lab_subjects_id_seq', (SELECT MAX(id) FROM lab_subjects));
  END IF;

  -- Restore Clubs
  IF payload ? 'lab_clubs' AND jsonb_array_length(payload->'lab_clubs') > 0 THEN
    INSERT INTO lab_clubs (id, semester_id, name)
    SELECT 
      (item->>'id')::bigint,
      (item->>'semester_id')::bigint,
      item->>'name'
    FROM jsonb_array_elements(payload->'lab_clubs') AS item;
    
    PERFORM setval('lab_clubs_id_seq', (SELECT MAX(id) FROM lab_clubs));
  END IF;

END;
$$;


ALTER FUNCTION "public"."restore_lab_settings"("payload" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_reagent_info_from_ref"() RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  -- SubstanceRef???곗씠?곕줈 Substance ?뚯씠釉??낅뜲?댄듃
  UPDATE "Substance" S
  SET
    chem_name_kor = R.chem_name_kor_ref,
    substance_name = R.substance_name_ref,
    molecular_formula = R.molecular_formula_ref
    -- ?꾩슂??寃쎌슦 molecular_mass ???ㅻⅨ 而щ읆??異붽? 媛??
    -- ?꾩옱 ?ㅽ궎留?湲곗? 二쇱슂 3媛??꾨뱶 ?낅뜲?댄듃
  FROM "SubstanceRef" R
  WHERE S.cas_rn = R.cas_ref;
  
  -- (?좏깮?ы빆) ?낅뜲?댄듃??嫄댁닔瑜?濡쒓렇濡??④린嫄곕굹 諛섑솚?????덉쓬
  RAISE NOTICE 'Substance info synchronized from SubstanceRef';
END;
$$;


ALTER FUNCTION "public"."sync_reagent_info_from_ref"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."truncate_table"("table_name" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  EXECUTE format('TRUNCATE TABLE %I RESTART IDENTITY CASCADE', table_name);
END;
$$;


ALTER FUNCTION "public"."truncate_table"("table_name" "text") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."Cabinet" (
    "id" bigint NOT NULL,
    "area_id" bigint NOT NULL,
    "cabinet_name" character varying(255) NOT NULL,
    "door_vertical_count" integer DEFAULT 1 NOT NULL,
    "door_horizontal_count" integer DEFAULT 1 NOT NULL,
    "shelf_height" integer DEFAULT 3 NOT NULL,
    "storage_columns" integer DEFAULT 6 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "user_id" "uuid",
    "photo_url_320" "text",
    "photo_url_160" "text"
);


ALTER TABLE "public"."Cabinet" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."Cabinet_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."Cabinet_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."Cabinet_id_seq" OWNED BY "public"."Cabinet"."id";



CREATE TABLE IF NOT EXISTS "public"."Citations" (
    "id" bigint NOT NULL,
    "substance_id" bigint,
    "source" "text",
    "url" "text",
    "source_number" integer
);


ALTER TABLE "public"."Citations" OWNER TO "postgres";


ALTER TABLE "public"."Citations" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Citations_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."EquipmentCabinet" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "area_id" bigint,
    "cabinet_name" "text" NOT NULL,
    "photo_url_320" "text",
    "photo_url_160" "text",
    "door_vertical_count" integer
);


ALTER TABLE "public"."EquipmentCabinet" OWNER TO "postgres";


ALTER TABLE "public"."EquipmentCabinet" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."EquipmentCabinet_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."HazardClassifications" (
    "id" bigint NOT NULL,
    "substance_id" bigint NOT NULL,
    "sbstnClsfTypeNm" "text",
    "unqNo" "text",
    "contInfo" "text",
    "ancmntInfo" "text",
    "ancmntYmd" "date"
);


ALTER TABLE "public"."HazardClassifications" OWNER TO "postgres";


ALTER TABLE "public"."HazardClassifications" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."HazardClassifications_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."HazardList" (
    "id" bigint NOT NULL,
    "cas_nos" "text",
    "chem_name" "text",
    "school_hazardous_standard" "text",
    "school_accident_precaution_standard" "text",
    "special_health_standard" "text",
    "toxic_standard" "text",
    "permitted_standard" "text",
    "restricted_standard" "text",
    "prohibited_standard" "text",
    "hazard_class" "text"
);


ALTER TABLE "public"."HazardList" OWNER TO "postgres";


ALTER TABLE "public"."HazardList" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."HazardList_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."Inventory" (
    "id" bigint NOT NULL,
    "substance_id" bigint NOT NULL,
    "bottle_identifier" character varying(255),
    "lot_number" character varying(255),
    "supplier" character varying(255),
    "initial_amount" numeric(10,2),
    "current_amount" numeric(10,2),
    "unit" character varying(10) DEFAULT NULL::character varying,
    "purchase_date" "date",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "classification" character varying(50),
    "state" character varying(50),
    "concentration_value" numeric(10,5),
    "concentration_unit" character varying(10),
    "manufacturer" character varying(255),
    "bottle_type" "text",
    "cabinet_id" bigint,
    "door_vertical" character varying(10),
    "door_horizontal" character varying(10),
    "internal_shelf_level" integer,
    "storage_column" integer,
    "photo_url_320" "text",
    "photo_url_160" "text",
    "updated_at" timestamp with time zone,
    "user_id" "uuid",
    "status" "text" DEFAULT '?ъ슜以?::"text",
    "msds_pdf_url" "text",
    "msds_pdf_hash" "text",
    "converted_concentration_value_1" double precision,
    "converted_concentration_unit_1" "text",
    "converted_concentration_value_2" double precision,
    "converted_concentration_unit_2" "text",
    "school_hazardous_chemical" "text",
    "special_health_checkup_hazardous_factor" "text",
    "toxic_substance" "text",
    "permitted_substance" "text",
    "restricted_substance" "text",
    "prohibited_substance" "text",
    "school_accident_precaution_chemical" "text",
    "bottle_mass" numeric,
    "valence" integer DEFAULT 1,
    "edited_name_kor" "text"
);


ALTER TABLE "public"."Inventory" OWNER TO "postgres";


COMMENT ON TABLE "public"."Inventory" IS 'Inventory Table';



COMMENT ON COLUMN "public"."Inventory"."valence" IS '媛??(Normality 怨꾩궛??';



CREATE SEQUENCE IF NOT EXISTS "public"."Inventory_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."Inventory_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."Inventory_id_seq" OWNED BY "public"."Inventory"."id";



CREATE TABLE IF NOT EXISTS "public"."MSDS" (
    "id" bigint NOT NULL,
    "substance_id" bigint NOT NULL,
    "section_number" integer NOT NULL,
    "content" "text"
);


ALTER TABLE "public"."MSDS" OWNER TO "postgres";


ALTER TABLE "public"."MSDS" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."MSDS_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."Properties" (
    "id" bigint NOT NULL,
    "substance_id" bigint,
    "name" "text",
    "property" "text",
    "units" "text",
    "type" "text",
    "source_number" integer
);


ALTER TABLE "public"."Properties" OWNER TO "postgres";


ALTER TABLE "public"."Properties" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Properties_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."ReplacedRns" (
    "id" bigint NOT NULL,
    "substance_id" bigint NOT NULL,
    "replaced_rn" character varying(12)
);


ALTER TABLE "public"."ReplacedRns" OWNER TO "postgres";


COMMENT ON TABLE "public"."ReplacedRns" IS 'ReplacedRns Table';



ALTER TABLE "public"."ReplacedRns" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."ReplacedRns_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."Substance" (
    "id" bigint NOT NULL,
    "cas_rn" character varying(12) NOT NULL,
    "substance_name" "text",
    "uri" character varying(255),
    "inchi" "text",
    "inchikey" character varying(255),
    "smile" "text",
    "molecular_formula" "text",
    "molecular_mass" real,
    "has_molfile" boolean,
    "svg_image" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "chem_name_kor" "text",
    "en_no" "text",
    "ke_no" "text",
    "un_no" "text",
    "kosha_chem_id" "text",
    "last_msds_check" timestamp with time zone,
    "canonical_smiles" "text",
    "school_hazardous_chemical_standard" "text",
    "special_health_checkup_hazardous_factor_standard" "text",
    "toxic_substance_standard" "text",
    "permitted_substance_standard" "text",
    "restricted_substance_standard" "text",
    "prohibited_substance_standard" "text",
    "school_accident_precaution_chemical_standard" "text",
    "cas_mod" "text",
    "chem_name_kor_mod" "text",
    "substance_name_mod" "text",
    "molecular_formula_mod" "text"
);


ALTER TABLE "public"."Substance" OWNER TO "postgres";


COMMENT ON TABLE "public"."Substance" IS 'Substance Table';



CREATE TABLE IF NOT EXISTS "public"."SubstanceRef" (
    "id" bigint NOT NULL,
    "cas_ref" "text",
    "chem_name_kor_ref" "text",
    "substance_name_ref" "text",
    "molecular_formula_ref" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "valence_ref" integer,
    "molecular_mass_ref" numeric
);


ALTER TABLE "public"."SubstanceRef" OWNER TO "postgres";


COMMENT ON COLUMN "public"."SubstanceRef"."valence_ref" IS '湲곗? 媛??(Normality 怨꾩궛????쒓컪)';



ALTER TABLE "public"."SubstanceRef" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."SubstanceRef_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE "public"."Substance" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Substance_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."Synonyms" (
    "id" bigint NOT NULL,
    "substance_id" bigint NOT NULL,
    "synonyms_name" character varying(255),
    "synonyms_eng" "text"
);


ALTER TABLE "public"."Synonyms" OWNER TO "postgres";


COMMENT ON TABLE "public"."Synonyms" IS 'Synonymss Table';



ALTER TABLE "public"."Synonyms" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."Synonyms_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."UsageLog" (
    "id" bigint NOT NULL,
    "inventory_id" bigint NOT NULL,
    "usage_date" "date" DEFAULT CURRENT_DATE NOT NULL,
    "subject" "text" NOT NULL,
    "period" "text" NOT NULL,
    "amount" numeric NOT NULL,
    "unit" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."UsageLog" OWNER TO "postgres";


ALTER TABLE "public"."UsageLog" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."UsageLog_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."WasteDisposal" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "date" "date" NOT NULL,
    "classification" "text" NOT NULL,
    "total_amount" numeric NOT NULL,
    "company_name" "text",
    "manager" "text"
);


ALTER TABLE "public"."WasteDisposal" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."WasteLog" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "date" "date" NOT NULL,
    "classification" "text" NOT NULL,
    "amount" numeric NOT NULL,
    "total_mass_log" numeric,
    "unit" "text" DEFAULT 'g'::"text",
    "manager" "text",
    "remarks" "text",
    "disposal_id" "uuid"
);


ALTER TABLE "public"."WasteLog" OWNER TO "postgres";


ALTER TABLE "public"."WasteLog" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."WasteLog_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."experiment_kit" (
    "id" bigint NOT NULL,
    "kit_name" "text" NOT NULL,
    "kit_class" "text",
    "kit_cas" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "kit_person" smallint
);


ALTER TABLE "public"."experiment_kit" OWNER TO "postgres";


ALTER TABLE "public"."experiment_kit" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."experiment_kit_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."kit_chemicals" (
    "id" bigint NOT NULL,
    "cas_no" "text" NOT NULL,
    "name_ko" "text",
    "name_en" "text",
    "formula" "text",
    "molecular_weight" "text",
    "msds_data" "jsonb",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."kit_chemicals" OWNER TO "postgres";


ALTER TABLE "public"."kit_chemicals" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."kit_chemicals_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."kit_usage_log" (
    "id" bigint NOT NULL,
    "user_kit_id" bigint,
    "change_amount" integer NOT NULL,
    "log_date" "date" DEFAULT CURRENT_DATE NOT NULL,
    "log_type" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "user_id" "uuid",
    CONSTRAINT "kit_usage_log_log_type_check" CHECK (("log_type" = ANY (ARRAY['usage'::"text", 'purchase'::"text", 'adjustment'::"text"])))
);


ALTER TABLE "public"."kit_usage_log" OWNER TO "postgres";


COMMENT ON TABLE "public"."kit_usage_log" IS 'Log of kit usage and purchases';



ALTER TABLE "public"."kit_usage_log" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."kit_usage_log_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_class_counts" (
    "id" bigint NOT NULL,
    "semester_id" bigint,
    "grade" integer NOT NULL,
    "class_count" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_class_counts" OWNER TO "postgres";


ALTER TABLE "public"."lab_class_counts" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_class_counts_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_clubs" (
    "id" bigint NOT NULL,
    "semester_id" bigint,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_clubs" OWNER TO "postgres";


ALTER TABLE "public"."lab_clubs" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_clubs_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_manual_content" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "section_title" "text" NOT NULL,
    "caption" "text" NOT NULL,
    "image_url" "text" NOT NULL,
    "display_order" integer DEFAULT 0,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_manual_content" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."lab_rooms" (
    "id" bigint NOT NULL,
    "room_name" "text" NOT NULL,
    "sort_order" integer DEFAULT 0,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "user_id" "uuid"
);


ALTER TABLE "public"."lab_rooms" OWNER TO "postgres";


ALTER TABLE "public"."lab_rooms" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_rooms_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_semesters" (
    "id" bigint NOT NULL,
    "name" "text" NOT NULL,
    "start_date" "date",
    "end_date" "date",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_semesters" OWNER TO "postgres";


ALTER TABLE "public"."lab_semesters" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_semesters_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_subjects" (
    "id" bigint NOT NULL,
    "semester_id" bigint,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_subjects" OWNER TO "postgres";


ALTER TABLE "public"."lab_subjects" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_subjects_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_teachers" (
    "id" bigint NOT NULL,
    "semester_id" bigint,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."lab_teachers" OWNER TO "postgres";


ALTER TABLE "public"."lab_teachers" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_teachers_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_timetables" (
    "id" bigint NOT NULL,
    "semester_id" bigint,
    "teacher_id" bigint,
    "day_of_week" "text" NOT NULL,
    "period" integer NOT NULL,
    "grade" integer,
    "class_number" integer,
    "subject_id" bigint,
    "valid_from" "date" NOT NULL,
    "valid_to" "date" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "lab_room_id" bigint
);


ALTER TABLE "public"."lab_timetables" OWNER TO "postgres";


ALTER TABLE "public"."lab_timetables" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."lab_timetables_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."lab_usage_log" (
    "id" bigint NOT NULL,
    "lab_room_id" bigint,
    "usage_date" "date" NOT NULL,
    "period" "text" NOT NULL,
    "activity_type" "text" NOT NULL,
    "subject_id" bigint,
    "grade" "text",
    "class_number" integer,
    "teacher_id" bigint,
    "club_id" bigint,
    "content" "text",
    "safety_education" "text" DEFAULT '?ㅼ떆'::"text",
    "remarks" "text",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "applicant_name" "text",
    "phone_number" "text",
    "participant_count" integer,
    "semester_id" bigint
);


ALTER TABLE "public"."lab_usage_log" OWNER TO "postgres";


COMMENT ON COLUMN "public"."lab_usage_log"."semester_id" IS '?숆린 ID (FK)';



ALTER TABLE "public"."lab_usage_log" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."lab_usage_log_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text",
    "role" "text" DEFAULT 'guest'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    CONSTRAINT "profiles_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'teacher'::"text", 'student'::"text", 'guest'::"text"])))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."safety_content" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "category" "text" NOT NULL,
    "title" "text" NOT NULL,
    "content_type" "text" NOT NULL,
    "external_id" "text" NOT NULL,
    "display_order" integer DEFAULT 0,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."safety_content" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tools_usage_log" (
    "id" bigint NOT NULL,
    "tools_id" bigint NOT NULL,
    "user_id" "uuid" DEFAULT "auth"."uid"(),
    "change_amount" integer NOT NULL,
    "final_quantity" integer NOT NULL,
    "reason" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."tools_usage_log" OWNER TO "postgres";


ALTER TABLE "public"."tools_usage_log" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."teaching_aid_usage_log_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."tools" (
    "id" bigint NOT NULL,
    "user_id" "uuid" DEFAULT "auth"."uid"(),
    "tools_name" "text" NOT NULL,
    "tools_category" "text" NOT NULL,
    "stock" integer DEFAULT 0 NOT NULL,
    "purchase_date" "date",
    "location" "jsonb",
    "image_url" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "tools_section" "text" DEFAULT '援먭뎄'::"text",
    "tools_no" integer,
    "stock_period" "text" DEFAULT '怨쇳븰(2025)'::"text",
    "tools_code" "text",
    "specification" "text",
    "using_class" "text" DEFAULT '?꾪븰??::"text",
    "standard_amount" "text",
    "requirement" integer DEFAULT 0,
    "proportion" double precision,
    "recommended" "text" DEFAULT '?꾩닔'::"text",
    "out_of_standard" "text" DEFAULT '湲곗???::"text"
);


ALTER TABLE "public"."tools" OWNER TO "postgres";


ALTER TABLE "public"."tools" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."teaching_aids_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."user_kits" (
    "id" bigint NOT NULL,
    "kit_id" bigint,
    "kit_name" "text" NOT NULL,
    "kit_class" "text",
    "quantity" integer DEFAULT 1,
    "purchase_date" "date",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "image_url" "text",
    "location" "text",
    "status" "text",
    "kit_person" smallint,
    "user_id" "uuid"
);


ALTER TABLE "public"."user_kits" OWNER TO "postgres";


ALTER TABLE "public"."user_kits" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."user_kits_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."Cabinet" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."Cabinet_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."Inventory" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."Inventory_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."Cabinet"
    ADD CONSTRAINT "Cabinet_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Citations"
    ADD CONSTRAINT "Citations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."EquipmentCabinet"
    ADD CONSTRAINT "EquipmentCabinet_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."HazardClassifications"
    ADD CONSTRAINT "HazardClassifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."HazardList"
    ADD CONSTRAINT "HazardList_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Inventory"
    ADD CONSTRAINT "Inventory_bottle_identifier_key" UNIQUE ("bottle_identifier");



ALTER TABLE ONLY "public"."Inventory"
    ADD CONSTRAINT "Inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."MSDS"
    ADD CONSTRAINT "MSDS_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."MSDS"
    ADD CONSTRAINT "MSDS_substance_id_section_number_key" UNIQUE ("substance_id", "section_number");



ALTER TABLE ONLY "public"."Properties"
    ADD CONSTRAINT "Properties_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ReplacedRns"
    ADD CONSTRAINT "ReplacedRns_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."SubstanceRef"
    ADD CONSTRAINT "SubstanceRef_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Substance"
    ADD CONSTRAINT "Substance_cas_rn_key" UNIQUE ("cas_rn");



ALTER TABLE ONLY "public"."Substance"
    ADD CONSTRAINT "Substance_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Substance"
    ADD CONSTRAINT "Substance_uri_key" UNIQUE ("uri");



ALTER TABLE ONLY "public"."Synonyms"
    ADD CONSTRAINT "Synonyms_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."UsageLog"
    ADD CONSTRAINT "UsageLog_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."WasteDisposal"
    ADD CONSTRAINT "WasteDisposal_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."WasteLog"
    ADD CONSTRAINT "WasteLog_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Cabinet"
    ADD CONSTRAINT "cabinet_area_id_name_unique" UNIQUE ("area_id", "cabinet_name");



ALTER TABLE ONLY "public"."experiment_kit"
    ADD CONSTRAINT "experiment_kit_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."kit_chemicals"
    ADD CONSTRAINT "kit_chemicals_cas_no_key" UNIQUE ("cas_no");



ALTER TABLE ONLY "public"."kit_chemicals"
    ADD CONSTRAINT "kit_chemicals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."kit_usage_log"
    ADD CONSTRAINT "kit_usage_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_class_counts"
    ADD CONSTRAINT "lab_class_counts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_clubs"
    ADD CONSTRAINT "lab_clubs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_manual_content"
    ADD CONSTRAINT "lab_manual_content_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_rooms"
    ADD CONSTRAINT "lab_rooms_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_semesters"
    ADD CONSTRAINT "lab_semesters_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_subjects"
    ADD CONSTRAINT "lab_subjects_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_teachers"
    ADD CONSTRAINT "lab_teachers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_timetables"
    ADD CONSTRAINT "lab_timetables_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."safety_content"
    ADD CONSTRAINT "safety_content_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tools_usage_log"
    ADD CONSTRAINT "teaching_aid_usage_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tools"
    ADD CONSTRAINT "teaching_aids_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tools"
    ADD CONSTRAINT "tools_tools_no_key" UNIQUE ("tools_no");



ALTER TABLE ONLY "public"."user_kits"
    ADD CONSTRAINT "user_kits_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_hazard_cas_nos" ON "public"."HazardList" USING "btree" ("cas_nos");



CREATE OR REPLACE TRIGGER "on_inventory_update" BEFORE UPDATE ON "public"."Inventory" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at"();



ALTER TABLE ONLY "public"."Cabinet"
    ADD CONSTRAINT "Cabinet_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."Citations"
    ADD CONSTRAINT "Citations_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."HazardClassifications"
    ADD CONSTRAINT "HazardClassifications_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Inventory"
    ADD CONSTRAINT "Inventory_cabinet_id_fkey" FOREIGN KEY ("cabinet_id") REFERENCES "public"."Cabinet"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Inventory"
    ADD CONSTRAINT "Inventory_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Inventory"
    ADD CONSTRAINT "Inventory_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."MSDS"
    ADD CONSTRAINT "MSDS_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Properties"
    ADD CONSTRAINT "Properties_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."ReplacedRns"
    ADD CONSTRAINT "ReplacedRns_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id");



ALTER TABLE ONLY "public"."Synonyms"
    ADD CONSTRAINT "Synonyms_substance_id_fkey" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id");



ALTER TABLE ONLY "public"."UsageLog"
    ADD CONSTRAINT "UsageLog_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "public"."Inventory"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."WasteLog"
    ADD CONSTRAINT "WasteLog_disposal_id_fkey" FOREIGN KEY ("disposal_id") REFERENCES "public"."WasteDisposal"("id");



ALTER TABLE ONLY "public"."Cabinet"
    ADD CONSTRAINT "fk_cabinet_lab_rooms" FOREIGN KEY ("area_id") REFERENCES "public"."lab_rooms"("id");



ALTER TABLE ONLY "public"."EquipmentCabinet"
    ADD CONSTRAINT "fk_equipment_lab_rooms" FOREIGN KEY ("area_id") REFERENCES "public"."lab_rooms"("id");



ALTER TABLE ONLY "public"."ReplacedRns"
    ADD CONSTRAINT "fk_substance_repl" FOREIGN KEY ("substance_id") REFERENCES "public"."Substance"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."kit_usage_log"
    ADD CONSTRAINT "kit_usage_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."kit_usage_log"
    ADD CONSTRAINT "kit_usage_log_user_kit_id_fkey" FOREIGN KEY ("user_kit_id") REFERENCES "public"."user_kits"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_class_counts"
    ADD CONSTRAINT "lab_class_counts_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_clubs"
    ADD CONSTRAINT "lab_clubs_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_subjects"
    ADD CONSTRAINT "lab_subjects_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_teachers"
    ADD CONSTRAINT "lab_teachers_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_timetables"
    ADD CONSTRAINT "lab_timetables_lab_room_id_fkey" FOREIGN KEY ("lab_room_id") REFERENCES "public"."lab_rooms"("id");



ALTER TABLE ONLY "public"."lab_timetables"
    ADD CONSTRAINT "lab_timetables_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_timetables"
    ADD CONSTRAINT "lab_timetables_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."lab_subjects"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."lab_timetables"
    ADD CONSTRAINT "lab_timetables_teacher_id_fkey" FOREIGN KEY ("teacher_id") REFERENCES "public"."lab_teachers"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_club_id_fkey" FOREIGN KEY ("club_id") REFERENCES "public"."lab_clubs"("id");



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_lab_room_id_fkey" FOREIGN KEY ("lab_room_id") REFERENCES "public"."lab_rooms"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_semester_id_fkey" FOREIGN KEY ("semester_id") REFERENCES "public"."lab_semesters"("id");



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."lab_subjects"("id");



ALTER TABLE ONLY "public"."lab_usage_log"
    ADD CONSTRAINT "lab_usage_log_teacher_id_fkey" FOREIGN KEY ("teacher_id") REFERENCES "public"."lab_teachers"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tools_usage_log"
    ADD CONSTRAINT "teaching_aid_usage_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."tools"
    ADD CONSTRAINT "teaching_aids_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."tools_usage_log"
    ADD CONSTRAINT "tools_usage_log_tools_id_fkey" FOREIGN KEY ("tools_id") REFERENCES "public"."tools"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_kits"
    ADD CONSTRAINT "user_kits_kit_id_fkey" FOREIGN KEY ("kit_id") REFERENCES "public"."experiment_kit"("id");



ALTER TABLE ONLY "public"."user_kits"
    ADD CONSTRAINT "user_kits_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



CREATE POLICY "Admins can update profiles" ON "public"."profiles" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "profiles_1"
  WHERE (("profiles_1"."id" = "auth"."uid"()) AND ("profiles_1"."role" = 'admin'::"text")))));



CREATE POLICY "Allow Delete for All" ON "public"."tools" FOR DELETE USING (true);



CREATE POLICY "Allow Delete for All" ON "public"."tools_usage_log" FOR DELETE USING (true);



CREATE POLICY "Allow Insert for All" ON "public"."tools" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow Insert for All" ON "public"."tools_usage_log" FOR INSERT WITH CHECK (true);



CREATE POLICY "Allow Select for All" ON "public"."tools" FOR SELECT USING (true);



CREATE POLICY "Allow Select for All" ON "public"."tools_usage_log" FOR SELECT USING (true);



CREATE POLICY "Allow Update for All" ON "public"."tools" FOR UPDATE USING (true);



CREATE POLICY "Allow Update for All" ON "public"."tools_usage_log" FOR UPDATE USING (true);



CREATE POLICY "Allow anon delete in HazardClassification" ON "public"."HazardClassifications" FOR DELETE USING (true);



CREATE POLICY "Allow anon delete in MSDS" ON "public"."MSDS" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete in Properties" ON "public"."Properties" FOR DELETE USING (true);



CREATE POLICY "Allow anon delete in Substance" ON "public"."Substance" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on Cabinet" ON "public"."Cabinet" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on Cabinet" ON "public"."HazardList" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on Inventory" ON "public"."Inventory" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on ReplacedRns" ON "public"."ReplacedRns" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on Synonyms" ON "public"."Synonyms" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on UsageLog" ON "public"."UsageLog" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on WasteDisposal" ON "public"."WasteDisposal" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon delete on WasteLog" ON "public"."WasteLog" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Allow anon insert for Substance" ON "public"."Substance" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert in HazardClassification" ON "public"."HazardClassifications" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert in MSDS" ON "public"."MSDS" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on Cabinet" ON "public"."Cabinet" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on Cabinet" ON "public"."HazardList" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on Inventory" ON "public"."Inventory" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on ReplacedRns" ON "public"."ReplacedRns" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on Synonyms" ON "public"."Synonyms" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on UsageLog" ON "public"."UsageLog" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on WasteDisposal" ON "public"."WasteDisposal" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon insert on WasteLog" ON "public"."WasteLog" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Allow anon select in HazardClassifications" ON "public"."HazardClassifications" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select in MSDS" ON "public"."MSDS" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select in Properties" ON "public"."Properties" FOR SELECT USING (true);



CREATE POLICY "Allow anon select in Substance" ON "public"."Substance" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on Cabinet" ON "public"."Cabinet" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on Cabinet" ON "public"."HazardList" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on Inventory" ON "public"."Inventory" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on ReplacedRns" ON "public"."ReplacedRns" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on Synonyms" ON "public"."Synonyms" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on UsageLog" ON "public"."UsageLog" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on WasteDisposal" ON "public"."WasteDisposal" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon select on WasteLog" ON "public"."WasteLog" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Allow anon update in HazardClassification" ON "public"."HazardClassifications" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update in MSDS" ON "public"."MSDS" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update in Substance" ON "public"."Substance" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on Cabinet" ON "public"."Cabinet" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on Cabinet" ON "public"."HazardList" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on Inventory" ON "public"."Inventory" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on ReplacedRns" ON "public"."ReplacedRns" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on Synonyms" ON "public"."Synonyms" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on UsageLog" ON "public"."UsageLog" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on UsageLog" ON "public"."WasteLog" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow anon update on WasteDisposal" ON "public"."WasteDisposal" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Allow insert/update/delete for authenticated on lab_usage_log" ON "public"."lab_usage_log" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Allow select for all on lab_timetables" ON "public"."lab_timetables" FOR SELECT USING (true);



CREATE POLICY "Allow select for all on lab_usage_log" ON "public"."lab_usage_log" FOR SELECT USING (true);



CREATE POLICY "Authenticated can insert" ON "public"."lab_usage_log" FOR INSERT TO "authenticated" WITH CHECK (true);



ALTER TABLE "public"."Cabinet" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Citations" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Enable delete access for all users" ON "public"."lab_class_counts" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for all users" ON "public"."lab_clubs" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for all users" ON "public"."lab_rooms" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for all users" ON "public"."lab_semesters" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for all users" ON "public"."lab_subjects" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for all users" ON "public"."lab_teachers" FOR DELETE USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."SubstanceRef" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_class_counts" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_clubs" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_rooms" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_semesters" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_subjects" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_teachers" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete access for anon" ON "public"."lab_timetables" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for anon" ON "public"."EquipmentCabinet" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for anon" ON "public"."experiment_kit" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for anon" ON "public"."kit_chemicals" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for anon" ON "public"."kit_usage_log" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for anon" ON "public"."user_kits" FOR DELETE TO "anon" USING (true);



CREATE POLICY "Enable delete for owners" ON "public"."user_kits" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Enable insert access for all users" ON "public"."lab_class_counts" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for all users" ON "public"."lab_clubs" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for all users" ON "public"."lab_rooms" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for all users" ON "public"."lab_semesters" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for all users" ON "public"."lab_subjects" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for all users" ON "public"."lab_teachers" FOR INSERT WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."SubstanceRef" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_class_counts" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_clubs" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_rooms" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_semesters" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_subjects" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_teachers" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert access for anon" ON "public"."lab_timetables" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for anon" ON "public"."EquipmentCabinet" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for anon" ON "public"."experiment_kit" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for anon" ON "public"."kit_chemicals" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for anon" ON "public"."kit_usage_log" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for anon" ON "public"."user_kits" FOR INSERT TO "anon" WITH CHECK (true);



CREATE POLICY "Enable insert for authenticated users only" ON "public"."user_kits" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Enable insert/update/delete for teachers and admins only" ON "public"."lab_manual_content" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'teacher'::"text"]))))));



CREATE POLICY "Enable insert/update/delete for teachers and admins only" ON "public"."safety_content" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'teacher'::"text"]))))));



CREATE POLICY "Enable read access for all" ON "public"."lab_manual_content" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all" ON "public"."safety_content" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."kit_chemicals" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_class_counts" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_clubs" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_manual_content" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_semesters" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_subjects" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."lab_teachers" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."safety_content" FOR SELECT USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."user_kits" FOR SELECT USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."EquipmentCabinet" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."SubstanceRef" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_class_counts" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_clubs" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_rooms" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_semesters" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_subjects" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_teachers" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for anon" ON "public"."lab_timetables" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable read access for authenticated users" ON "public"."Citations" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Cabinet" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Citations" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."HazardClassifications" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Inventory" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."MSDS" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Properties" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."ReplacedRns" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Substance" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."Synonyms" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."UsageLog" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."WasteDisposal" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."WasteLog" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."experiment_kit" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."kit_chemicals" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_class_counts" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_clubs" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_rooms" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_semesters" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_subjects" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_teachers" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_timetables" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."lab_usage_log" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable read for all" ON "public"."user_kits" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Enable select for anon" ON "public"."experiment_kit" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable select for anon" ON "public"."kit_chemicals" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable select for anon" ON "public"."kit_usage_log" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable select for anon" ON "public"."user_kits" FOR SELECT TO "anon" USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_class_counts" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_clubs" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_rooms" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_semesters" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_subjects" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for all users" ON "public"."lab_teachers" FOR UPDATE USING (true);



CREATE POLICY "Enable update access for anon" ON "public"."SubstanceRef" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_class_counts" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_clubs" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_rooms" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_semesters" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_subjects" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_teachers" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update access for anon" ON "public"."lab_timetables" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for anon" ON "public"."EquipmentCabinet" FOR UPDATE TO "anon" USING (true) WITH CHECK (true);



CREATE POLICY "Enable update for anon" ON "public"."experiment_kit" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Enable update for anon" ON "public"."kit_chemicals" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Enable update for anon" ON "public"."kit_usage_log" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Enable update for anon" ON "public"."user_kits" FOR UPDATE TO "anon" USING (true);



CREATE POLICY "Enable update for owners" ON "public"."user_kits" FOR UPDATE USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."EquipmentCabinet" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Everyone can view Cabinet" ON "public"."Cabinet" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Everyone can view EquipmentCabinet" ON "public"."EquipmentCabinet" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Everyone can view lab_rooms" ON "public"."lab_rooms" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."HazardClassifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."HazardList" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Inventory" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Inventory editable by admin/teacher" ON "public"."Inventory" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'teacher'::"text"]))))));



CREATE POLICY "Inventory viewable by everyone" ON "public"."Inventory" FOR SELECT USING (true);



CREATE POLICY "Kits editable by admin/teacher" ON "public"."experiment_kit" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'teacher'::"text"]))))));



CREATE POLICY "Kits viewable by everyone" ON "public"."experiment_kit" FOR SELECT USING (true);



ALTER TABLE "public"."MSDS" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Properties" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Public profiles are viewable by everyone" ON "public"."profiles" FOR SELECT USING (true);



ALTER TABLE "public"."ReplacedRns" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Substance" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."SubstanceRef" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."Synonyms" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Tools editable by admin/teacher" ON "public"."tools" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"text", 'teacher'::"text"]))))));



CREATE POLICY "Tools viewable by everyone" ON "public"."tools" FOR SELECT USING (true);



ALTER TABLE "public"."UsageLog" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "Users can view their own kit logs" ON "public"."kit_usage_log" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own tool logs" ON "public"."tools_usage_log" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."WasteDisposal" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."WasteLog" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."experiment_kit" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."kit_chemicals" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."kit_usage_log" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_class_counts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_clubs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_manual_content" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_rooms" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_semesters" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_subjects" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_teachers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_timetables" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."lab_usage_log" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."safety_content" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tools" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tools_usage_log" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_kits" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "愿由ъ옄??紐⑤뱺 ?쒓컙?쒕? 愿由ы븷 ???덉쓬" ON "public"."lab_timetables" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'admin'::"text"))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'admin'::"text")))));



CREATE POLICY "紐⑤뱺 ?ъ슜?먮뒗 ?쒓컙?쒕? 議고쉶?????덉쓬" ON "public"."lab_timetables" FOR SELECT TO "authenticated" USING (true);





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."lab_manual_content";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."safety_content";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

























































































































































GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_updated_at"() TO "service_role";



GRANT ALL ON FUNCTION "public"."reset_all_data"() TO "anon";
GRANT ALL ON FUNCTION "public"."reset_all_data"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."reset_all_data"() TO "service_role";



GRANT ALL ON FUNCTION "public"."restore_lab_settings"("payload" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."restore_lab_settings"("payload" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."restore_lab_settings"("payload" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_reagent_info_from_ref"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_reagent_info_from_ref"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_reagent_info_from_ref"() TO "service_role";



GRANT ALL ON FUNCTION "public"."truncate_table"("table_name" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."truncate_table"("table_name" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."truncate_table"("table_name" "text") TO "service_role";


















GRANT ALL ON TABLE "public"."Cabinet" TO "anon";
GRANT ALL ON TABLE "public"."Cabinet" TO "authenticated";
GRANT ALL ON TABLE "public"."Cabinet" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Cabinet_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Cabinet_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Cabinet_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Citations" TO "anon";
GRANT ALL ON TABLE "public"."Citations" TO "authenticated";
GRANT ALL ON TABLE "public"."Citations" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Citations_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Citations_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Citations_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."EquipmentCabinet" TO "anon";
GRANT ALL ON TABLE "public"."EquipmentCabinet" TO "authenticated";
GRANT ALL ON TABLE "public"."EquipmentCabinet" TO "service_role";



GRANT ALL ON SEQUENCE "public"."EquipmentCabinet_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."EquipmentCabinet_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."EquipmentCabinet_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."HazardClassifications" TO "anon";
GRANT ALL ON TABLE "public"."HazardClassifications" TO "authenticated";
GRANT ALL ON TABLE "public"."HazardClassifications" TO "service_role";



GRANT ALL ON SEQUENCE "public"."HazardClassifications_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."HazardClassifications_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."HazardClassifications_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."HazardList" TO "anon";
GRANT ALL ON TABLE "public"."HazardList" TO "authenticated";
GRANT ALL ON TABLE "public"."HazardList" TO "service_role";



GRANT ALL ON SEQUENCE "public"."HazardList_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."HazardList_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."HazardList_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Inventory" TO "anon";
GRANT ALL ON TABLE "public"."Inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."Inventory" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Inventory_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Inventory_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Inventory_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."MSDS" TO "anon";
GRANT ALL ON TABLE "public"."MSDS" TO "authenticated";
GRANT ALL ON TABLE "public"."MSDS" TO "service_role";



GRANT ALL ON SEQUENCE "public"."MSDS_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."MSDS_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."MSDS_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Properties" TO "anon";
GRANT ALL ON TABLE "public"."Properties" TO "authenticated";
GRANT ALL ON TABLE "public"."Properties" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Properties_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Properties_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Properties_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."ReplacedRns" TO "anon";
GRANT ALL ON TABLE "public"."ReplacedRns" TO "authenticated";
GRANT ALL ON TABLE "public"."ReplacedRns" TO "service_role";



GRANT ALL ON SEQUENCE "public"."ReplacedRns_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."ReplacedRns_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."ReplacedRns_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Substance" TO "anon";
GRANT ALL ON TABLE "public"."Substance" TO "authenticated";
GRANT ALL ON TABLE "public"."Substance" TO "service_role";



GRANT ALL ON TABLE "public"."SubstanceRef" TO "anon";
GRANT ALL ON TABLE "public"."SubstanceRef" TO "authenticated";
GRANT ALL ON TABLE "public"."SubstanceRef" TO "service_role";



GRANT ALL ON SEQUENCE "public"."SubstanceRef_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."SubstanceRef_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."SubstanceRef_id_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Substance_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Substance_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Substance_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."Synonyms" TO "anon";
GRANT ALL ON TABLE "public"."Synonyms" TO "authenticated";
GRANT ALL ON TABLE "public"."Synonyms" TO "service_role";



GRANT ALL ON SEQUENCE "public"."Synonyms_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."Synonyms_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."Synonyms_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."UsageLog" TO "anon";
GRANT ALL ON TABLE "public"."UsageLog" TO "authenticated";
GRANT ALL ON TABLE "public"."UsageLog" TO "service_role";



GRANT ALL ON SEQUENCE "public"."UsageLog_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."UsageLog_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."UsageLog_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."WasteDisposal" TO "anon";
GRANT ALL ON TABLE "public"."WasteDisposal" TO "authenticated";
GRANT ALL ON TABLE "public"."WasteDisposal" TO "service_role";



GRANT ALL ON TABLE "public"."WasteLog" TO "anon";
GRANT ALL ON TABLE "public"."WasteLog" TO "authenticated";
GRANT ALL ON TABLE "public"."WasteLog" TO "service_role";



GRANT ALL ON SEQUENCE "public"."WasteLog_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."WasteLog_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."WasteLog_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."experiment_kit" TO "anon";
GRANT ALL ON TABLE "public"."experiment_kit" TO "authenticated";
GRANT ALL ON TABLE "public"."experiment_kit" TO "service_role";



GRANT ALL ON SEQUENCE "public"."experiment_kit_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."experiment_kit_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."experiment_kit_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."kit_chemicals" TO "anon";
GRANT ALL ON TABLE "public"."kit_chemicals" TO "authenticated";
GRANT ALL ON TABLE "public"."kit_chemicals" TO "service_role";



GRANT ALL ON SEQUENCE "public"."kit_chemicals_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."kit_chemicals_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."kit_chemicals_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."kit_usage_log" TO "anon";
GRANT ALL ON TABLE "public"."kit_usage_log" TO "authenticated";
GRANT ALL ON TABLE "public"."kit_usage_log" TO "service_role";



GRANT ALL ON SEQUENCE "public"."kit_usage_log_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."kit_usage_log_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."kit_usage_log_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_class_counts" TO "anon";
GRANT ALL ON TABLE "public"."lab_class_counts" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_class_counts" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_class_counts_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_class_counts_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_class_counts_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_clubs" TO "anon";
GRANT ALL ON TABLE "public"."lab_clubs" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_clubs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_clubs_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_clubs_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_clubs_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_manual_content" TO "anon";
GRANT ALL ON TABLE "public"."lab_manual_content" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_manual_content" TO "service_role";



GRANT ALL ON TABLE "public"."lab_rooms" TO "anon";
GRANT ALL ON TABLE "public"."lab_rooms" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_rooms" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_rooms_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_rooms_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_rooms_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_semesters" TO "anon";
GRANT ALL ON TABLE "public"."lab_semesters" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_semesters" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_semesters_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_semesters_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_semesters_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_subjects" TO "anon";
GRANT ALL ON TABLE "public"."lab_subjects" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_subjects" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_subjects_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_subjects_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_subjects_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_teachers" TO "anon";
GRANT ALL ON TABLE "public"."lab_teachers" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_teachers" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_teachers_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_teachers_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_teachers_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_timetables" TO "anon";
GRANT ALL ON TABLE "public"."lab_timetables" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_timetables" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_timetables_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_timetables_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_timetables_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lab_usage_log" TO "anon";
GRANT ALL ON TABLE "public"."lab_usage_log" TO "authenticated";
GRANT ALL ON TABLE "public"."lab_usage_log" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lab_usage_log_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lab_usage_log_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lab_usage_log_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."safety_content" TO "anon";
GRANT ALL ON TABLE "public"."safety_content" TO "authenticated";
GRANT ALL ON TABLE "public"."safety_content" TO "service_role";



GRANT ALL ON TABLE "public"."tools_usage_log" TO "anon";
GRANT ALL ON TABLE "public"."tools_usage_log" TO "authenticated";
GRANT ALL ON TABLE "public"."tools_usage_log" TO "service_role";



GRANT ALL ON SEQUENCE "public"."teaching_aid_usage_log_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."teaching_aid_usage_log_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."teaching_aid_usage_log_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."tools" TO "anon";
GRANT ALL ON TABLE "public"."tools" TO "authenticated";
GRANT ALL ON TABLE "public"."tools" TO "service_role";



GRANT ALL ON SEQUENCE "public"."teaching_aids_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."teaching_aids_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."teaching_aids_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."user_kits" TO "anon";
GRANT ALL ON TABLE "public"."user_kits" TO "authenticated";
GRANT ALL ON TABLE "public"."user_kits" TO "service_role";



GRANT ALL ON SEQUENCE "public"."user_kits_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."user_kits_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."user_kits_id_seq" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































